# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder.
# Otherwise links or the entire site will break.
#
# If your homepage is http://yourdomain.com/mysite
# Set the RewriteBase to:
#
# RewriteBase /mysite

# block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ index.php [L]

# block all files in the site folder from being accessed directly
RewriteRule ^site/(.*) index.php [L]

# block all files in the kirby folder from being accessed directly
RewriteRule ^kirby/(.*) index.php [L]

# make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

</IfModule>

# Additional recommended values
# Remove comments for those you want to use.

# AddDefaultCharset UTF-8
#
# php_flag short_open_tag on

<IfModule mod_rewrite.c>
## Redirect developmunk if called as subdomain to brothersinapps.dk
RewriteCond %{HTTP_HOST} ^developmunk\.brothersinapps\.dk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.developmunk\.brothersinapps\.dk$
RewriteRule ^/?$ "http\:\/\/developmunk\.dk" [R=301,L]

# www. to non www
RewriteBase /
RewriteRule ^(([^./]+/)*[^./]+)$ /$1/ [L,R=301]
RewriteCond %{HTTP_HOST} ^www.developmunk.dk [NC]
RewriteRule ^(.*)$ http://developmunk.dk/$1 [L,R=301]
RewriteCond %{THE_REQUEST} ^.*/index.*
RewriteRule ^(.*)index.*$ http://developmunk.dk [R=301,L]
</IfModule>
