:root {
  --ratio: calc(135 / 40);
  --height: calc(var(--baseline) * 4);
}

#appstore {
  & a {
    display: flex;
  }
}

.appstore-svg {
  height: var(--height);
  width: calc(var(--height) * var(--ratio));
}
