.feature {
  display: flex;
  justify-content: space-between;

  .checkmark {
    margin-top: 9px;
    flex-shrink: 0;
    margin-right: calc(30-21)px;

    @media (--medium-up) {
      margin-right: calc(40-21)px;
    }
  }

  .text {
    flex-grow: 1;

    p {
      color: var(--color-secondary);
    }
  }
}
