.feature {
  display: flex;
  justify-content: space-between;

  .checkmark {
    margin-top: 6px;
    margin-right: var(--padding-default);
    flex-basis: 50px;
  }

  .text {
    flex-grow: 1;
  }
}
