.feature {
  display: flex;
  justify-content: space-between;

  .checkmark {
    margin-top: 6px;
    flex-basis: 50px;
    flex-shrink: 0;
  }

  .text {
    flex-grow: 1;

    p {
      color: var(--color-secondary);
    }
  }
}
