footer {
  text-align: center;
  background-image:
    scrim-gradient(
      var(--color-background),
      black
    );

  /* Released */
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;

  p:not(:first-child) {
    margin-top: var(--padding-base);
  }
}
