@import './_settings.pcss';

.quote::before {
  content: "”";
  font-size: 70px;
}

.author {
  font-weight: var(--font-weight-strong);
  text-align: right;

  &::before {
    content: "—";
  }

  &::after {
    content: ".";
  }
}
