

.section-image {
  margin-top: var(--padding-section);
  margin-bottom: var(--padding-section);

  background-position: center;
  background-size: cover;
  min-height: 25vw;
  max-height: 100vmax;

  /* Released */
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
}

#fish {
  background-image: url('../../images/slor/Fish.jpg');
  height: 400px;
}

#tree {
  background-image: url('../../images/slor/Tree.jpg');
  height: 900px;
}
