.section-image {
  background-position: center;
  background-size: cover;

  /* Released */
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
}

#fish {
  background-image: url('../../images/slor/Fish.jpg');
  height: 60vh;
  max-height: 400px;
}

#tree {
  background-image: url('../../images/slor/Tree.jpg');
  height: 80vh;
  max-height: 900px;
}
